@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-carousel .slick-slide {
  text-align: center;
  font-size: larger;
  height: 360px;
  line-height: 360px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h1 {
  color: #fff;
}

.list-card{
  padding: 30px;
}

.site-card{
  padding: 30px;
}

.site-card-wrapper {
  background: #fff;
  padding: 30px;
  display: relative;
  margin-left: auto;
  margin-right: auto;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba (255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #ffffff;
}

.ant-card-head {
  padding: 0 24px;
  background-color: #364d79;
}

.ant-card-body {
  padding: 24px; 
  background-color: #ffffff;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: #fafafa;
  line-height: 64px;
  background:  black;
}

.ant-layout-footer {
  padding: 24px 50px;
  color: #fafafa;
  font-size: 14px;
  background: black;
}





